footer {
    width: 100%;
    height: auto;
    background-color: $branco;
    bottom: 0;
    margin: 0;
    padding: 40px 0 0 0;
    position: relative;
    border-top: 2px solid $azulLogo;

    +below($tablet) {
        padding: 30px 0 0 0;
    }

    +mobile() {
        padding: 20px 0 0 0;
    }

    article.informacoes {
        height: auto;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 0 0 20px 0;

        +below($tablet) {
            padding-bottom: 15px;
        }

        +mobile() {
            flex-direction: column;
            align-items: center;
            padding-bottom: 10px;
        }

        .link-home {
            width: 160px;
            height: 60px;
            margin-right: 90px;

            +below($tablet) {
                width: 130px;
                height: 45px;
                margin-right: 5%;
            }

            +mobile() {
                margin-right: 0;
                margin-bottom: 10px;
            }

            .img-logo {
                width: 100%;
                height: auto;
                object-fit: contain;
                transition: transform 0.1s ease-in-out;
            }

            &:hover {
                .img-logo {
                    transform: scale(1.03);
                }
            }
        }

        .contatos {
            width: auto;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-right: 80px;

            +below($tablet) {
                margin-right: 7%;
            }

            +mobile() {
                margin-right: 0;
                margin-bottom: 10px;
                align-items: center;
            }

            .telefone {
                display: flex;
                align-items: center;
                justify-content: flex-start;

                .img-telefone {
                    width: 22px;
                    height: auto;
                    object-fit: contain;
                    margin-right: 5px;

                    +below($tablet) {
                        width: 18px;
                    }
                }

                .titulo {
                    signika(12);
                    color: $azulLogo;
                    margin: 3px 0 0 0;

                    +below($tablet) {
                        font-size: 10px;
                        margin-top: 2px;
                    }
                }
            }

            .link-telefone {
                display: block;
                opensans(18, bold);
                color: $azulLogo;
                margin: 10px 0 25px 0;
                transition: all 0.3s ease-in-out;

                +below($tablet) {
                    font-size: 16px;
                    margin-bottom: 15px;
                }

                +mobile() {
                    margin: 10px 0;
                }

                &:hover {
                    color: $hover;
                }
            }

            .instagram {
                signika(12);
                color: $azulLogo;
                width: auto;
                height: 20px;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                padding-left: 25px;
                background: $img('ico-instagram-rodape.svg') no-repeat 0 / 18px transparent;
                transition: all 0.2s ease-in-out;

                &:hover {
                    color: $hover;
                    background: $img('ico-instagram-hover.svg') no-repeat 0 / 18px transparent;
                }

                +below($tablet) {
                    font-size: 11px;
                    height: 16px;
                    padding-left: 20px;
                    background: $img('ico-instagram-rodape.svg') no-repeat 0 / 15px transparent;

                    &:hover {
                        color: $hover;
                        background: $img('ico-instagram-hover.svg') no-repeat 0 / 15px transparent;
                    }
                }
            }
        }

        .enderecos {
            width: auto;

            +mobile() {
                padding-top: 5px;
                border-top: 1px dotted $bordaPontilhada;
            }

            .endereco {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                margin-bottom: 15px;

                +below($tablet) {
                    margin-bottom: 10px;
                }

                .img-endereco {
                    width: 22px;
                    height: auto;
                    object-fit: contain;
                    margin-right: 5px;

                    +below($tablet) {
                        width: 18px;
                    }
                }

                .titulo {
                    signika(12);
                    color: $azulLogo;
                    margin: 3px 0 0 0;

                    +below($tablet) {
                        font-size: 10px;
                        margin-top: 2px;
                    }
                }
            }

            .localizacao {
                margin-bottom: 5px;

                .titulo {
                    opensans(12, bold);
                    color: $azulLogo;
                    margin: 0;

                    +below($tablet) {
                        font-size: 10px;
                    }
                }

                .local {
                    opensans(16, light);
                    color: $azulLogo;
                    margin: 0;

                    +below($tablet) {
                        font-size: 14px;
                    }

                    +mobile() {
                        font-size: 12px;
                    }
                }
            }
        }
    }

    article.menus {
        height: auto;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding: 40px 0 20px 0;
        border-top: 1px dotted $bordaPontilhada;

        +below($tablet) {
            padding: 30px 0 15px 0;
        }

        +mobile() {
            padding: 20px 0 10px 0;
            flex-direction: column;
        }

        .servicos-header, .links-geral {
            width: auto;

            .link-footer {
                display: block;
                height: 25px;
                signika(18);
                color: $azulLogo;
                padding-left: 10px;
                border-left: 1px solid $azulLogo;
                margin-bottom: 15px;
                transition: color 0.3s ease-in-out;

                +below($tablet) {
                    font-size: 14px;
                    height: 20px;
                }

                +mobile() {
                    font-size: 12px;
                    height: 15px;
                    margin-bottom: 10px;
                }

                &:hover, &.active {
                    color: $hover;
                }
            }
        }

        .links-geral {
            margin-right: 40px;

            +below($tablet) {
                margin-right: 30px;
            }

            +mobile() {
                margin-right: 0;
            }
        }

        .o-hospital, .servicos-todos {
            width: auto;
            height: auto;
            padding-left: 10px;
            border-left: 1px solid $azulLogo;

            +mobile() {
                margin-bottom: 10px;
            }

            .titulo {
                display: block;
                signika(18);
                color: $azulLogo;
                margin: 0;

                +below($tablet) {
                    font-size: 14px;
                }

                +mobile() {
                    font-size: 12px;
                }
            }

            .sublink-footer {
                display: block;
                opensans(14, italic);
                color: $azulLogo;
                text-transform: lowercase;
                line-height: 1.4;
                padding-left: 5px;
                transition: color 0.3s ease-in-out;

                +below($tablet) {
                    font-size: 12px;
                }

                +mobile() {
                    font-size: 11px;
                }

                &:hover, &.active {
                    color: $hover;
                }
            }
        }
    }

    article.copyright {
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-top: 1px dotted $bordaPontilhada;

        +below($tablet) {
            height: 40px;
        }

        +mobile() {
            height: auto;
            padding: 5px 0;
            flex-wrap: wrap;
        }

        .link-politica {
            opensans(10);
            color: $azulLogo;
            margin: 0 10px 0 0;
            transition: color 0.3s ease-in-out;

            +below($tablet) {
                font-size: 9px;
                margin: 0 5px 0 0;
            }

            +mobile() {
                width: 100%;
                margin: 0 0 3px 0;
                text-align: center;
            }

            &:hover, &.active {
                color: $hover;
            }
        }

        .dados, .direitos {
            opensans(10);
            color: $azulLogo;
            line-height: 1;
            margin: 0;

            +below($tablet) {
                font-size: 9px;
            }
        }

        span {
            opensans(10);
            color: $azulLogo;
            margin: 0 5px;

            +below($tablet) {
                font-size: 9px;
                margin: 0 3px;
            }
        }

        .links {
            width: auto;

            +mobile() {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 3px;
            }

            .link-trupe {
                opensans(10);
                color: $azulLogo;
                margin: 0;
                transition: color 0.3s ease-in-out;

                +below($tablet) {
                    font-size: 9px;
                }

                &:hover {
                    color: $hover;
                }
            }
        }
    }
}