header {
    position: relative;
    width: 100%;
    height: 170px;
    z-index: 1;

    +below($tablet) {
        height: 120px;
    }

    +mobile() {
        height: 90px;
    }

    nav.topo {
        width: 100%;
        height: 40px;
        background-color: $azulRoyal;

        +below($tablet) {
            height: 30px;
        }

        +mobile() {
            position: absolute;
            display: none;
            width: 100%;
            left: 0;
            height: auto;
            top: 90px;
            padding: 20px 0;
            z-index: 999;
        }

        .center {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            position: relative;

            +mobile() {
                width: 100%;
                flex-direction: column;
                align-items: flex-end;
                justify-content: center;
            }

            .link-nav {
                width: auto;
                height: 100%;
                padding: 0 20px;
                signika(14, light);
                color: $branco;
                display: flex;
                align-items: center;
                background-color: transparent;
                transition: background 0.3s ease-in-out;

                +below($tablet) {
                    font-size: 12px;
                }

                +mobile() {
                    width: 100%;
                    display: block;
                    padding: 8px 5%;
                    text-align: right;
                    font-size: 14px;
                    color: $branco;
                }

                &:hover, &.active {
                    background-color: $azulLogo;
                }
            }

            .instagram {
                width: 40px;
                height: 100%;
                margin: 0 0 0 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: transparent;
                transition: background 0.3s ease-in-out;

                +below($tablet) {
                    width: 30px;
                }

                +mobile() {
                    width: 100%;
                    height: 30px;
                    margin: 0;
                    justify-content: flex-end;
                }

                .img-instagram {
                    width: 16px;
                    height: 16px;
                    object-fit: contain;
                    transition: transform 0.3s ease-in-out;

                    +below($tablet) {
                        width: 14px;
                        height: 14px;
                    }

                    +mobile() {
                        margin-right: 5%;
                    }
                }

                &:hover {
                    background-color: $azulLogo;

                    .img-instagram {
                        transform: scale(1.1);
                    }
                }
            }

            .submenu-nav {
                width: auto;
                height: auto;
                padding: 0;
                position: absolute;
                top: 35px;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
                z-index: 999;

                +below($tablet) {
                    top: 28px;
                }

                +mobile() {
                    top: 10px;
                }

                .link-submenu-nav {
                    width: 100%;
                    height: 30px;
                    background-color: $azulLogo;
                    signika(14, light);
                    color: #FFF;
                    text-transform: lowercase;
                    padding: 0 20px;
                    border-bottom: 1px solid $azulRoyal;
                    display: flex;
                    align-items: center;
                    position: relative;
                    transition: background 0.3s ease-in-out;

                    +below($tablet) {
                        height: 25px;
                        font-size: 12px;
                        padding: 0 15px;
                    }

                    +mobile() {
                        padding: 0 20px;
                    }

                    &:hover, &.active {
                        background-color: $hover;
                    }
                }

                &.submenu-hospital {
                    right: 422px;

                    +below($tablet) {
                        right: 392px;
                    }

                    +mobile() {
                        right: unset;
                        left: 5%;
                    }
                }

                &.submenu-servicos {
                    right: 268px;

                    +below($tablet) {
                        right: 256px;
                    }

                    +mobile() {
                        right: unset;
                        left: 5%;
                    }
                }
            }
        }
    }

    .down {
        width: 100%;
        height: 140px;
        display: flex;
        justify-content: space-between;
        z-index: 99;

        +below($tablet) {
            height: 90px;
        }

        .link-home {
            width: auto;
            height: 64px;
            margin: auto auto 0 calc('(100% - 1200px) / 2');

            +below($tablet) {
                height: 50px;
                margin: auto auto 0 5%;
            }

            +mobile() {
                height: 45px;
                margin: 27.5px auto 0 5%;
            }

            .img-logo {
                width: 200px;
                height: 100%;
                object-fit: contain;
                transition: transform 0.1s ease-in-out;

                +below($tablet) {
                    width: auto;
                }
            }

            &:hover {
                .img-logo {
                    transform: scale(1.03);
                }
            }
        }

        .link-home-internas {
            width: auto;
            height: 64px;
            margin: calc('(140px - 64px) / 2') auto 0 calc('(100% - 1200px) / 2');

            +below($tablet) {
                height: 50px;
                margin: auto auto 0 5%;
            }

            +mobile() {
                height: 45px;
                margin: 27.5px auto 0 5%;
            }

            .img-logo {
                width: 200px;
                height: 100%;
                object-fit: contain;
                transition: transform 0.1s ease-in-out;

                +below($tablet) {
                    width: auto;
                }
            }

            &:hover {
                .img-logo {
                    transform: scale(1.03);
                }
            }
        }

        nav.servicos {
            width: calc('910px + ((100% - 1200px) / 2)');
            height: 50px;
            margin: 0 0 0 auto;
            background-image: linear-gradient(to right, #66D7E1, #2B81FA);
            position: relative;

            +below($tablet) {
                width: 70%;
                height: 40px;
            }

            +mobile() {
                position: absolute;
                display: none;
                background-color: $branco;
                width: 100%;
                height: auto;
                left: 0;
                top: 353px;
                padding: 10px 5%;
                z-index: 999;
            }

            div.itens {
                width: 910px;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                position: relative;

                +below($tablet) {
                    width: 93%;
                    padding-left: 30px;
                }

                +mobile() {
                    width: 100%;
                    flex-direction: column;
                    align-items: flex-end;
                }

                .chanfrado {
                    position: absolute;
                    width: 70px;
                    height: 70px;
                    top: 15px;
                    left: -35px;
                    background-color: $branco;
                    transform: rotate(-45deg);

                    +below($tablet) {
                        width: 60px;
                        height: 60px;
                        top: 12px;
                        left: -30px;
                    }

                    +mobile() {
                        width: 160px;
                        height: 160px;
                        top: 25px;
                        left: -100px;
                    }
                }

                .link-nav-servicos {
                    width: auto;
                    height: auto;
                    montserrat(16, bold);
                    color: $branco;
                    margin: 0 12px;
                    letter-spacing: 0.1px;
                    transition: all 0.3s ease-in-out;

                    +below($tablet) {
                        font-size: 12px;
                        margin: 0 8px;
                    }

                    +mobile() {
                        margin: 5px 0;
                    }

                    &:hover, &.active {
                        color: $azulLogo;
                    }
                }
            }
        }
    }
}

#mobile-toggle {
    +above($mobile) {
        display: none;
    }

    display: block;
    background-color: transparent;
    border: 0;
    position: absolute;
    outline: 0;
    padding: 0;
    cursor: pointer;
    margin: 0;
    right: 5%;
    top: 40px;
    width: 24px;

    .lines {
        display: block;
        width: 100%;
        height: 4px;
        background-color: $azulLogo;
        position: relative;
        transition: 0.3s ease;
        border-radius: 3px;

        &:before, &:after {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            width: 100%;
            height: 4px;
            background-color: $azulLogo;
            transition: 0.3s ease;
            border-radius: 3px;
        }

        &.internas {
            background-color: $azulLogo;

            &:before, &:after {
                background-color: $azulLogo;
            }
        }

        &:before {
            top: 7px;
        }

        &:after {
            top: -7px;
        }
    }

    &.close {
        .lines {
            display: block;
            background: transparent;
            z-index: 9999;

            &:before, &:after {
                transform-origin: 50% 50%;
                background-color: $azulLogo;
                top: 0;
            }

            &:before {
                transform: rotate3d(0, 0, 1, 45deg);
            }

            &:after {
                transform: rotate3d(0, 0, 1, -45deg);
            }
        }

        .lines-home {
            background: transparent;

            &:before, &:after {
                transform-origin: 50% 50%;
                top: 0;
            }

            &:before {
                transform: rotate3d(0, 0, 1, 45deg);
            }

            &:after {
                transform: rotate3d(0, 0, 1, -45deg);
            }
        }
    }

    &.btn-home {
        .lines {
            background-color: #FFF;

            &:before, &:after {
                background-color: #FFF;
            }

            &.internas {
                background-color: #FFF;

                &:before, &:after {
                    background-color: #FFF;
                }
            }
        }

        &.close {
            .lines {
                background-color: transparent;

                &:before, &:after {
                    background-color: #FFF;
                }
            }
        }
    }
}