desktop-base-width = 1200px;
rupture.tablet-cutoff = $tablet = 1200px;
rupture.mobile-cutoff = $mobile = 768px;
rupture.anti-overlap = -1px;
$vermelhoError = #E02227;
$verdeSuccess = #2caf2c;
$preto = #000;
$branco = #FFF;
$azulLogo = #2F6CB1;
$azulClaro = #DBE8F1;
$azulRoyal = #2071FF;
$bordaPontilhada = #c0d2e7;
$azulAgua = #68DAE0;
$hover = #2CB0A7;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;600;800&family=Open+Sans:ital,wght@0,400;0,700;1,300&family=Signika:wght@300;400&display=swap');

opensans($size, $weight = normal) {
    font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
    font-size: $size px;
    font-weight: 400;

    if ($weight == italic) {
        font-weight: 400;
        font-style: italic;
    }

    if ($weight == bold) {
        font-weight: 700;
    }
}

montserrat($size, $weight = normal) {
    font-family: 'Montserrat', 'Helvetica', 'Arial', sans-serif;
    font-size: $size px;
    font-weight: 400;

    if ($weight == thin) {
        font-weight: 100;
    }

    if ($weight == light) {
        font-weight: 300;
    }

    if ($weight == bold) {
        font-weight: 600;
    }

    if ($weight == extrabold) {
        font-weight: 800;
    }
}

signika($size, $weight = normal) {
    font-family: 'Signika', 'Helvetica', 'Arial', sans-serif;
    font-size: $size px;
    font-weight: 400;

    if ($weight == light) {
        font-weight: 300;
    }
}