main.contato {
    width: 100%;
    height: auto;
    padding: 20px 0 60px 0;

    section.conteudo {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        +mobile() {
            flex-wrap: wrap;
        }

        article.infos {
            width: 600px;

            +below($tablet) {
                width: 45%;
            }

            +mobile() {
                width: 100%;
            }

            .topo {
                display: flex;
                align-items: flex-start;

                .img-contato {
                    width: 90px;
                    height: 90px;
                    object-fit: contain;

                    +below($tablet) {
                        width: 75px;
                        height: 75px;
                    }

                    +mobile() {
                        width: 60px;
                        height: 60px;
                    }
                }

                h1.titulo {
                    montserrat(36, bold);
                    color: $azulLogo;
                    margin: 20px 30px;

                    +below($tablet) {
                        font-size: 28px;
                    }

                    +mobile() {
                        font-size: 24px;
                        margin: 15px 20px;
                    }
                }
            }

            .texto-contatos {
                width: 100%;
                margin: 50px 0;
                opensans(16);
                color: $preto;

                +below($tablet) {
                    margin: 40px 0;
                    font-size: 14px;
                }

                +mobile() {
                    margin: 30px 0;
                    font-size: 12px;
                }

                p {
                    margin: 0 0 15px 0;
                    line-height: 1.5;

                    +mobile() {
                        margin: 0 0 10px 0;
                    }

                    a {
                        color: $azulLogo;

                        &:hover {
                            font-weight: 600;
                        }
                    }
                }

                ul {
                    list-style-position: inside;
                    padding-left: 0;
                    margin: 0 0 15px 0;

                    +mobile() {
                        margin: 0 0 10px 0;
                    }

                    li {
                        margin: 0;
                        line-height: 1.5;
                    }
                }
            }
        }

        article.form-contato {
            width: 500px;
            margin-top: 30px;

            +below($tablet) {
                width: 50%;
            }

            +mobile() {
                width: 100%;
            }

            form {
                width: 100%;
                height: auto;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;

                input[type=text], input[type=email] {
                    width: 100%;
                    height: 40px;
                    padding: 0 20px;
                    margin: 0 0 5px 0;
                    background-color: $azulClaro;
                    border: none;
                    outline: none;
                    opensans(16);
                    color: $azulLogo;
                    transition: all 0.2s ease-in-out;

                    +below($tablet) {
                        height: 35px;
                        font-size: 14px;
                        padding: 0 15px;
                    }

                    +mobile() {
                        height: 30px;
                        font-size: 12px;
                    }

                    +placeholder() {
                        opensans(16);
                        color: $azulLogo;
                        transition: all 0.2s ease-in-out;

                        +below($tablet) {
                            font-size: 14px;
                        }

                        +mobile() {
                            font-size: 12px;
                        }
                    }

                    &:hover, &:focus {
                        font-weight: 600;

                        +placeholder() {
                            font-weight: 600;
                        }
                    }
                }

                select {
                    width: 100%;
                    height: 40px;
                    margin: 0 0 5px 0;
                    padding: 0 20px;
                    opensans(16);
                    color: $azulLogo;
                    border: none;
                    outline: none;
                    appearance: none;
                    background: $img('setinha-assunto-contato.svg') no-repeat 98% / 12px $azulClaro;
                    transition: all 0.2s ease-in-out;
                    display: flex;
                    align-items: center;

                    +below($tablet) {
                        height: 35px;
                        padding: 0 15px;
                        font-size: 14px;
                    }

                    +mobile() {
                        height: 30px;
                        font-size: 12px;
                    }

                    option {
                        opensans(16);
                        color: $azulLogo;

                        +below($tablet) {
                            font-size: 14px;
                        }

                        +mobile() {
                            font-size: 12px;
                        }
                    }

                    &:hover {
                        font-weight: 600;
                    }
                }

                textarea {
                    width: 100%;
                    height: 280px;
                    background-color: $azulClaro;
                    padding: 15px 20px;
                    margin: 0 0 10px 0;
                    border: none;
                    outline: none;
                    resize: none;
                    opensans(16);
                    color: $azulLogo;
                    transition: all 0.2s ease-in-out;

                    +below($tablet) {
                        height: 200px;
                        padding: 15px;
                        font-size: 14px;
                    }

                    +mobile() {
                        height: 150px;
                        font-size: 12px;
                    }

                    +placeholder() {
                        opensans(16);
                        color: $azulLogo;
                        transition: all 0.2s ease-in-out;

                        +below($tablet) {
                            font-size: 14px;
                        }

                        +mobile() {
                            font-size: 12px;
                        }
                    }

                    &:hover, &:focus {
                        font-weight: 600;

                        +placeholder() {
                            font-weight: 600;
                        }
                    }
                }

                button[type=submit] {
                    width: 100%;
                    height: 40px;
                    background-color: $azulLogo;
                    padding: 0 20px;
                    margin: 0;
                    outline: none;
                    border: none;
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    montserrat(14, extrabold);
                    color: $branco;
                    transition: background 0.2s ease-in-out;

                    +below($tablet) {
                        height: 35px;
                        padding: 0 15px;
                    }

                    +mobile() {
                        height: 30px;
                        font-size: 12px;
                        font-weight: 600;
                    }

                    .img-enviar {
                        width: 30px;
                        height: auto;
                        object-fit: contain;
                        margin-left: 15px;

                        +below($tablet) {
                            width: 26px;
                            margin-left: 10px;
                        }

                        +mobile() {
                            width: 24px;
                        }
                    }

                    &:hover {
                        background-color: $hover;
                    }
                }

                .flash {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: relative;
                    margin: 10px 0;
                    width: 100%;
                    height: auto;
                    opensans(14);
                    color: $branco;
                    padding: 5px 10px;
                    border-radius: 0;
                    text-align: center;

                    +below($tablet) {
                        font-size: 12px;
                    }

                    > p {
                        margin: 0;
                    }

                    &.flash-erro {
                        border: none;
                        background: $vermelhoError;
                    }

                    &.flash-sucesso {
                        border: none;
                        background: $verdeSuccess;
                    }
                }
            }
        }
    }
}