main.home {
    width: 100%;
    height: auto;
    margin-top: -130px;

    +below($tablet) {
        margin-top: -90px;
    }

    section.bg-inicial {
        width: 100%;

        .bg-imagem {
            width: 100%;
            height: 950px;
            background-image: $img('bg-home.jpg');
            background-repeat: no-repeat;
            background-position: 50% 0;
            background-size: cover;
            padding-top: 140px;

            +below($tablet) {
                height: 700px;
                padding-top: 90px;
            }

            +mobile() {
                height: auto;
            }

            article.banners {
                height: 420px;

                +below($tablet) {
                    height: 300px;
                }

                +mobile() {
                    height: auto;
                }

                .banner {
                    width: 100%;
                    height: 100%;
                    display: flex !important;
                    align-items: center;
                    justify-content: space-between;
                    z-index: 0 !important;

                    .textos {
                        width: 670px;
                        height: 100%;
                        padding-top: 105px;
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        justify-content: flex-start;

                        +below($tablet) {
                            width: 55%;
                            padding-top: 50px;
                        }

                        +mobile() {
                            width: 60%;
                            padding-top: 20px;
                        }

                        .titulo {
                            montserrat(22, light);
                            color: $branco;
                            text-transform: uppercase;
                            margin: 0 0 20px 0;

                            +below($tablet) {
                                font-size: 18px;
                            }

                            +mobile() {
                                font-size: 13px;
                            }

                            > p {
                                margin: 0;

                                > strong {
                                    font-weight: 800;
                                }
                            }
                        }

                        .frase {
                            montserrat(54, light);
                            color: $branco;
                            margin: 0;

                            +below($tablet) {
                                font-size: 40px;
                            }

                            +mobile() {
                                font-size: 16px;
                            }

                            > p {
                                margin: 0;
                                line-height: 1.1;
                            }
                        }
                    }

                    .imagem {
                        width: 480px;
                        height: auto;
                        margin-top: -90px;

                        +below($tablet) {
                            width: 340px;
                            margin-top: -70px;
                        }

                        +mobile() {
                            width: 38%;
                            margin-top: 0;
                        }

                        .img-banner {
                            width: 100%;
                            height: auto;
                            object-fit: contain;
                        }
                    }
                }
            }

            article.servicos-home {
                height: auto;
                padding: 50px 0;
                display: flex;
                align-items: center;
                justify-content: center;

                +below($tablet) {
                    padding: 40px 0;
                }

                +mobile() {
                    flex-wrap: wrap;
                    padding: 30px 0;
                }

                .link-servico {
                    width: 280px;
                    height: 290px;
                    margin: 0 5px;
                    border-radius: 10px;
                    background-color: $branco;
                    border: 2px solid $branco;
                    transition: all 0.3s ease-in-out;

                    +below($tablet) {
                        width: calc('(100% - 40px) / 4');
                        height: 240px;
                    }

                    +mobile() {
                        width: calc('(100% - 20px) / 2');
                        height: 140px;
                        margin: 5px;
                    }

                    .img-servico {
                        width: 100%;
                        height: 180px;
                        object-fit: cover;
                        border-top-left-radius: 10px;
                        border-top-right-radius: 10px;

                        +below($tablet) {
                            height: 140px;
                        }

                        +mobile() {
                            height: 80px;
                        }
                    }

                    .titulo {
                        width: 100%;
                        height: calc('100% - 180px');
                        montserrat(18, extrabold);
                        color: $azulLogo;
                        text-transform: uppercase;
                        text-align: center;
                        letter-spacing: -0.1px;
                        padding: 20px 25px;
                        margin: 0;
                        transition: all 0.3s ease-in-out;

                        +below($tablet) {
                            height: auto;
                            font-size: 14px;
                            padding: 20px;
                        }

                        +mobile() {
                            font-size: 10px;
                            padding: 10px;
                        }
                    }

                    &:hover {
                        background-color: $hover;
                        border: 2px solid $hover;

                        .titulo {
                            color: $branco;
                        }
                    }
                }
            }
        }

        article.localizacoes {
            width: 100%;
            height: auto;
            background-color: #2E6BAE;
            padding: 50px 0;

            +below($tablet) {
                padding: 40px 0;
            }

            +mobile() {
                padding: 20px 0;
                margin-top: -1px;
            }

            .center {
                height: auto;
                display: flex;
                align-items: flex-start;
                justify-content: space-around;

                +mobile() {
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                }

                .left {
                    width: 20%;
                    padding: 0 10px;

                    +mobile() {
                        width: 100%;
                        padding: 0 0 10px 0;
                    }

                    .titulo {
                        montserrat(36, light);
                        color: $branco;
                        text-transform: uppercase;
                        margin: 0 0 30px 0;

                        +below($tablet) {
                            font-size: 28px;
                            margin: 0 0 20px 0;
                        }

                        +mobile() {
                            font-size: 22px;
                            text-align: center;
                            margin: 0 0 10px 0;
                        }
                    }

                    .frase {
                        opensans(14);
                        color: $branco;
                        margin: 0;
                        padding-right: 20px;

                        +below($tablet) {
                            font-size: 12px;
                        }

                        +mobile() {
                            text-align: center;
                            padding-right: 0;
                        }
                    }
                }
            }

            .right {
                width: 860px;
                height: auto;

                +below($tablet) {
                    width: 75%;
                }

                +mobile() {
                    width: 100%;
                }

                .localizacao {
                    width: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    align-items: flex-start;
                    justify-content: flex-start;
                    padding: 20px 30px 20px 20px;
                    margin-bottom: 5px;
                    background-color: transparent;
                    transition: background 0.3s ease-in-out;

                    +below($tablet) {
                        padding: 15px 20px 15px 15px;
                    }

                    +mobile() {
                        padding: 10px;
                    }

                    .img-local {
                        width: 140px;
                        height: 140px;
                        border-radius: 50%;
                        object-fit: cover;

                        +below($tablet) {
                            width: 100px;
                            height: 100px;
                        }

                        +mobile() {
                            width: 80px;
                            height: 80px;
                        }
                    }

                    .dados {
                        width: calc('100% - 140px');
                        height: auto;
                        padding: 10px 35px 0 35px;

                        +below($tablet) {
                            width: calc('100% - 100px');
                            padding: 10px 25px 0 25px;
                        }

                        +mobile() {
                            width: calc('100% - 80px');
                            padding: 5px 0 0 20px;
                        }

                        .principais-acessos {
                            width: 100%;
                            montserrat(18, extrabold);
                            color: $branco;
                            transition: color 0.3s ease-in-out;

                            +below($tablet) {
                                font-size: 14px;
                            }

                            +mobile() {
                                font-size: 12px;
                                font-weight: 600;
                            }

                            ul {
                                list-style-position: outside;
                                padding-left: 0;
                                margin: 0;

                                li {
                                    margin: 0 0 5px 0;
                                    list-style: none;
                                    padding-left: 25px;
                                    background: $img('ico-localizacao.svg') no-repeat 0 / 12px transparent;
                                    transition: background 0.3s ease-in-out;

                                    +below($tablet) {
                                        padding-left: 20px;
                                        background: $img('ico-localizacao.svg') no-repeat 0 / 10px transparent;
                                    }

                                    +mobile() {
                                        padding-left: 15px;
                                        background: $img('ico-localizacao.svg') no-repeat 0 / 8px transparent;
                                    }
                                }
                            }
                        }

                        .endereco {
                            opensans(16);
                            color: $branco;
                            line-height: 1.3;
                            margin: 15px 0 0 0;
                            padding: 0 44% 0 25px;
                            transition: color 0.3s ease-in-out;

                            +below($tablet) {
                                font-size: 13px;
                                padding: 0 48% 0 20px;
                            }

                            +mobile() {
                                font-size: 12px;
                                padding: 0 0 10px 15px;
                            }
                        }
                    }

                    .link-mapa {
                        display: block;
                        width: 730px;
                        height: auto;
                        opensans(11);
                        color: $azulAgua;
                        text-align: right;
                        padding-right: 10px;
                        border-bottom: 2px solid $azulAgua;
                        margin: 0 0 0 auto;
                        position: relative;

                        +below($tablet) {
                            width: 90%;
                            font-size: 10px;
                            padding-right: 8px;
                        }

                        .img-setinha {
                            position: absolute;
                            right: -12px;
                            bottom: -2px;
                            width: 13px;
                            height: auto;
                            object-fit: contain;

                            +below($tablet) {
                                width: 12px;
                                right: -11px;
                            }
                        }
                    }

                    &:hover {
                        background-color: rgba(104, 218, 224, 0.2);

                        .dados {
                            .principais-acessos {
                                color: $azulAgua;

                                ul {
                                    li {
                                        background: $img('ico-localizacao-hover.svg') no-repeat 0 / 12px transparent;
                                    }
                                }
                            }

                            .endereco {
                                color: $azulAgua;
                            }
                        }
                    }
                }
            }
        }
    }

    section.bg-chamadas {
        width: 100%;
        height: auto;
        background-color: $azulClaro;
        padding: 70px 0 20px 0;

        +below($tablet) {
            padding: 50px 0 20px 0;
        }

        +mobile() {
            padding: 30px 0;
        }

        article.textos {
            padding-left: 415px;
            padding-right: 130px;
            height: auto;

            +below($tablet) {
                padding-left: 40%;
                padding-right: 5%;
            }

            +mobile() {
                padding-left: 5%;
            }

            .titulo {
                montserrat(36, light);
                color: $azulLogo;
                text-transform: uppercase;
                margin: 0;

                +below($tablet) {
                    font-size: 28px;
                }

                +mobile() {
                    font-size: 24px;
                }
            }

            .frase {
                montserrat(22, light);
                color: $azulLogo;
                text-transform: uppercase;
                line-height: 1.5;
                margin: 0;

                +below($tablet) {
                    font-size: 18px;
                }

                +mobile() {
                    font-size: 16px;
                    line-height: 1.3;
                }
            }

            .texto {
                opensans(16);
                color: $preto;
                margin-top: 35px;

                +below($tablet) {
                    font-size: 14px;
                    margin-top: 25px;
                }

                +mobile() {
                    font-size: 12px;
                    margin-top: 20px;
                }

                p {
                    margin: 0 0 10px 0;
                    line-height: 1.8;

                    +mobile() {
                        line-height: 1.5;
                    }

                    a {
                        color: $azulLogo;

                        &:hover {
                            font-weight: 600;
                        }
                    }
                }

                ul {
                    list-style-position: inside;
                    padding-left: 0;
                    margin: 0;

                    li {
                        margin: 0 0 5px 0;
                    }
                }
            }
        }

        article.chamadas {
            padding-top: 65px;
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;
            justify-content: flex-start;

            +below($tablet) {
                padding-top: 50px;
            }

            +mobile() {
                padding-top: 20px;
            }

            .chamada {
                width: 390px;
                height: 320px;
                margin: 0 15px 50px 0;
                padding: 10px;
                background-color: transparent;
                position: relative;
                transition: background 0.3s ease-in-out;

                +below($tablet) {
                    width: calc('(100% - 30px) / 3');
                    height: 270px;
                    margin: 0 15px 40px 0;
                }

                +mobile() {
                    width: 100%;
                    height: auto;
                    margin: 0 0 20px 0;
                }

                .img-chamada {
                    width: 370px;
                    height: 180px;
                    object-fit: cover;

                    +below($tablet) {
                        width: 100%;
                        height: 150px;
                    }
                }

                .titulo {
                    montserrat(18, extrabold);
                    color: $azulLogo;
                    text-transform: uppercase;
                    line-height: 1.4;
                    margin: 10px 0;
                    transition: color 0.3s ease-in-out;

                    +below($tablet) {
                        font-size: 14px;
                    }

                    +mobile() {
                        font-size: 12px;
                        font-weight: 600;
                        margin: 10px 0 20px 0;
                    }
                }

                .saiba-mais {
                    display: block;
                    position: absolute;
                    bottom: 10px;
                    right: 20px;
                    width: 120px;
                    height: auto;
                    opensans(11);
                    font-weight: 600;
                    color: $hover;
                    text-align: left;
                    border-bottom: 1px solid $hover;
                    transition: all 0.3s ease-in-out;

                    +below($tablet) {
                        width: 100px;
                        font-size: 10px;
                    }

                    .img-setinha {
                        position: absolute;
                        right: -10px;
                        bottom: -1px;
                        width: 11px;
                        height: 11px;
                        object-fit: contain;
                        background-image: $img('setinha-reta-light.svg');
                        background-repeat: no-repeat;
                        background-size: contain;
                        transition: background 0.3s ease-in-out;

                        +below($tablet) {
                            width: 10px;
                            height: 10px;
                            right: -9px;
                            bottom: -2px;
                        }
                    }
                }

                &:hover {
                    background-color: $hover;

                    .titulo {
                        color: $branco;
                    }

                    .saiba-mais {
                        color: $branco;
                        border-bottom: 1px solid $branco;

                        .img-setinha {
                            background-image: $img('setinha-reta-light-branco.svg');
                            background-repeat: no-repeat;
                            background-size: contain;
                        }
                    }
                }
            }
        }
    }

    section.bg-mais-servicos {
        width: 100%;
        height: auto;
        padding: 75px 0;

        +below($tablet) {
            padding: 60px 0;
        }

        +mobile() {
            padding: 40px 0;
        }

        h1.titulo {
            width: 100%;
            montserrat(28, light);
            color: $azulLogo;
            text-align: center;
            margin: 0 0 25px 0;

            +below($tablet) {
                font-size: 24px;
                margin: 0 0 20px 0;
            }

            +mobile() {
                font-size: 20px;
            }
        }

        .mais-servicos {
            height: auto;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;

            .link-item {
                width: 500px;
                height: 50px;
                border: 1px solid $azulLogo;
                border-radius: 5px;
                montserrat(18, extrabold);
                color: $azulLogo;
                padding: 0 20px;
                margin: 5px;
                display: flex;
                align-items: center;
                background: $img('setinha-reta-hover.svg') no-repeat 96% / 13px transparent;
                transition: all 0.3s ease-in-out;

                &:hover {
                    color: $branco;
                    background: $img('setinha-reta-branco.svg') no-repeat 96% / 13px $hover;
                }

                +below($tablet) {
                    width: 38%;
                    height: 40px;
                    font-size: 16px;
                    padding: 0 15px;
                    background: $img('setinha-reta-hover.svg') no-repeat 96% / 12px transparent;
                    transition: all 0.3s ease-in-out;

                    &:hover {
                        background: $img('setinha-reta-branco.svg') no-repeat 96% / 12px $hover;
                    }
                }

                +mobile() {
                    width: 100%;
                    height: 35px;
                    font-size: 14px;
                    padding: 0 15px;
                    background: $img('setinha-reta-hover.svg') no-repeat 96% / 10px transparent;
                    transition: all 0.3s ease-in-out;

                    &:hover {
                        background: $img('setinha-reta-branco.svg') no-repeat 96% / 10px $hover;
                    }
                }
            }
        }
    }

    section.bg-novidades {
        width: 100%;
        height: auto;
        background-color: $azulClaro;
        padding: 75px 0;

        +below($tablet) {
            padding: 60px 0;
        }

        +mobile() {
            padding: 40px 0;
        }

        h1.titulo {
            width: 100%;
            montserrat(28, light);
            color: $azulLogo;
            text-align: center;
            margin: 0;

            +below($tablet) {
                font-size: 24px;
            }

            +mobile() {
                font-size: 20px;
            }
        }

        .frase {
            width: 100%;
            opensans(16, italic);
            color: $azulLogo;
            text-align: center;
            margin: 15px 0;

            +below($tablet) {
                font-size: 14px;
                margin: 10px 0;
            }

            +mobile() {
                font-size: 12px;
            }
        }
    }
}