main.localizacao {
    width: 100%;
    height: auto;
    padding: 20px 0;

    section.conteudo {
        display: flex;
        align-items: flex-start;

        .img-localizacao {
            width: 90px;
            height: 90px;
            object-fit: contain;

            +below($tablet) {
                width: 75px;
                height: 75px;
            }

            +mobile() {
                width: 60px;
                height: 60px;
            }
        }

        .textos {
            padding: 20px 30px;

            +below($tablet) {
                padding: 15px 20px;
            }

            h1.titulo {
                montserrat(36, bold);
                color: $azulLogo;
                margin: 0 0 25px 0;

                +below($tablet) {
                    font-size: 28px;
                }

                +mobile() {
                    font-size: 24px;
                    margin-bottom: 15px;
                }
            }

            .texto-localizacao {
                width: 700px;
                opensans(16);
                color: $preto;

                +below($tablet) {
                    width: 70%;
                    font-size: 14px;
                }

                +mobile() {
                    width: 100%;
                    font-size: 12px;
                }

                p {
                    margin: 0 0 15px 0;
                    line-height: 1.3;

                    +mobile() {
                        margin: 0 0 10px 0;
                    }

                    a {
                        color: $azulLogo;

                        &:hover {
                            font-weight: 600;
                        }
                    }
                }

                ul {
                    list-style-position: inside;
                    padding-left: 0;
                    margin: 0 0 15px 0;

                    +mobile() {
                        margin: 0 0 10px 0;
                    }

                    li {
                        margin: 0;
                        line-height: 1.3;
                    }
                }
            }
        }
    }

    section.localizacoes {
        height: auto;
        padding: 20px 0;
        position: relative;

        article.local {
            width: 100%;
            height: 450px;
            margin-bottom: 40px;
            position: relative;

            +below($tablet) {
                height: 350px;
            }

            .mapa {
                width: 100%;
                height: 100%;

                iframe {
                    width: 100%;
                    height: 100%;
                }
            }

            .infos-local {
                width: auto;
                min-width: 300px;
                max-width: 500px;
                position: absolute;
                top: 0;
                left: 0;
                padding: 10px 35px 5px 10px;
                background-image: linear-gradient(135deg, $azulLogo 0%, $azulLogo 94%, rgba(0, 0, 0, 0) 90%, rgba(0, 0, 0, 0) 100%);

                +below($tablet) {
                    min-width: 40%;
                    max-width: 55%;
                }

                +mobile() {
                    width: 100%;
                    min-width: unset;
                    max-width: unset;
                }

                .info-titulo {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    margin-bottom: 10px;

                    +mobile() {
                        margin-bottom: 5px;
                    }

                    .img-endereco {
                        width: 22px;
                        height: auto;
                        object-fit: contain;
                        margin-right: 5px;

                        +below($tablet) {
                            width: 20px;
                        }

                        +mobile() {
                            width: 18px;
                        }
                    }

                    .titulo {
                        signika(12);
                        color: $branco;
                        margin: 3px 0 0 0;

                        +below($tablet) {
                            font-size: 10px;
                            margin: 0;
                        }
                    }
                }

                .info-endereco {
                    max-width: 320px;
                    opensans(16);
                    color: $branco;
                    line-height: 1.4;
                    margin: 0;

                    +below($tablet) {
                        max-width: 65%;
                        font-size: 14px;
                    }

                    +mobile() {
                        max-width: 75%;
                        font-size: 12px;
                    }
                }
            }
        }
    }
}