main.novidades {
    width: 100%;
    height: auto;
    padding: 20px 0;

    section.titulo-pagina {
        display: flex;
        align-items: flex-start;

        .img-novidades {
            width: 90px;
            height: 90px;
            object-fit: contain;

            +below($tablet) {
                width: 75px;
                height: 75px;
            }

            +mobile() {
                width: 60px;
                height: 60px;
            }
        }

        h1.titulo {
            montserrat(36, bold);
            color: $azulLogo;
            margin: 20px 30px;

            +below($tablet) {
                font-size: 28px;
            }

            +mobile() {
                font-size: 24px;
                margin: 15px 20px;
            }
        }
    }
}