main.o-hospital {
    width: 100%;
    height: auto;
    padding: 20px 0;

    section.conteudo {
        height: auto;
        display: flex;
        align-items: flex-start;

        +mobile() {
            flex-direction: column;
        }

        article.submenu {
            width: 37%;
            display: flex;
            align-items: flex-start;

            +below($tablet) {
                width: 35%;
            }

            +mobile() {
                width: 100%;
            }

            .img-hospital {
                width: 90px;
                height: 90px;
                object-fit: contain;

                +below($tablet) {
                    width: 75px;
                    height: 75px;
                }

                +mobile() {
                    width: 60px;
                    height: 60px;
                }
            }

            .itens {
                padding: 20px 30px;

                +below($tablet) {
                    padding: 15px 20px;
                }

                h1.titulo {
                    montserrat(36, bold);
                    color: $azulLogo;
                    margin: 0 0 20px 0;

                    +below($tablet) {
                        font-size: 28px;
                    }

                    +mobile() {
                        font-size: 24px;
                        margin-bottom: 15px;
                    }
                }

                .link-submenu {
                    display: block;
                    signika(16);
                    color: $azulLogo;
                    margin: 0 0 12px 0;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    transition: color 0.3s ease-in-out;

                    +below($tablet) {
                        font-size: 14px;
                        margin: 0 0 10px 0;
                    }

                    +mobile() {
                        font-size: 13px;
                        margin: 0 0 8px 0;
                    }

                    span {
                        signika(10);
                        color: $azulLogo;
                        margin: 0 5px;
                        transition: color 0.3s ease-in-out;
                    }

                    .img-setinha {
                        display: none;
                        width: 10px;
                        height: auto;
                        object-fit: contain;
                        margin-left: 10px;
                        transition: display 0.3s ease-in-out;

                        +below($tablet) {
                            width: 9px;
                        }

                        +mobile() {
                            width: 8px;
                        }
                    }

                    &.hover, &.active {
                        color: $hover;

                        span {
                            color: $hover;
                        }

                        .img-setinha {
                            display: inline-block;
                        }
                    }
                }
            }
        }

        article.textos {
            width: 63%;
            padding-top: 45px;

            +below($tablet) {
                width: 65%;
                padding-top: 20px;
            }

            +mobile() {
                width: 100%;
            }

            h2.titulo {
                montserrat(54, light);
                color: $azulLogo;
                margin: 0 0 20px 0;

                +below($tablet) {
                    font-size: 40px;
                }

                +mobile() {
                    font-size: 28px;
                    margin: 0 0 15px 0;
                }
            }

            .texto {
                opensans(16);
                color: $preto;
                padding-left: 5px;

                +below($tablet) {
                    font-size: 14px;
                }

                +mobile() {
                    font-size: 12px;
                    padding-left: 0;
                }

                p {
                    margin: 0 0 15px 0;
                    line-height: 1.7;

                    +mobile() {
                        margin: 0 0 10px 0;
                        line-height: 1.5;
                    }

                    a {
                        color: $azulLogo;

                        &:hover {
                            font-weight: 600;
                        }
                    }

                    img {
                        max-width: 100%;
                        height: auto;
                        object-fit: contain;
                    }
                }

                ul, ol {
                    list-style-position: inside;
                    padding-left: 0;
                    margin: 0 0 15px 0;

                    +mobile() {
                        margin: 0 0 10px 0;
                    }

                    li {
                        margin: 0;
                        line-height: 1.7;

                        +mobile() {
                            line-height: 1.5;
                        }
                    }
                }

                figure.table {
                    margin: 0 0 15px 0;

                    +mobile() {
                        margin: 0 0 10px 0;
                        font-size: 10px;
                    }

                    table {
                        width: 100%;
                        border-collapse: collapse;

                        thead {
                            background-color: $bordaPontilhada;
                        }

                        th, td {
                            padding: 5px;
                            text-align: left;
                        }
                    }

                    table, th, td {
                        border: 1px solid $preto;
                    }
                }
            }
        }
    }

    section.quem-somos-imagens {
        height: auto;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: flex-start;
        margin: 10px auto;

        .link-img-quem-somos {
            width: calc('(100% - 10px) / 3');
            height: 265px;
            margin: 0 5px 5px 0;

            +below($tablet) {
                height: 220px;
            }

            +mobile() {
                width: 100%;
                height: 200px;
                margin: 0 0 5px 0;
            }

            .img-quem-somos {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    section.missao-visao-valores {
        padding: 40px 0 40px 28%;
        height: auto;

        +below($tablet) {
            padding: 30px 0 30px 30%;
        }

        +mobile() {
            padding: 30px 5%;
        }

        article.missao, article.visao, article.valores {
            width: 100%;
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            margin-bottom: 30px;

            +below($tablet) {
                margin-bottom: 20px;
            }

            .img-icone {
                width: 90px;
                height: 90px;
                object-fit: contain;

                +below($tablet) {
                    width: 75px;
                    height: 75px;
                }

                +mobile() {
                    width: 60px;
                    height: 60px;
                }
            }

            .textos {
                padding: 35px 125px 0 30px;

                +below($tablet) {
                    padding: 20px 15% 0 25px;
                }

                +mobile() {
                    padding: 15px 0 0 20px;
                }

                .titulo {
                    montserrat(24, bold);
                    color: $azulLogo;
                    margin: 0 0 10px 0;

                    +below($tablet) {
                        font-size: 20px;
                    }

                    +mobile() {
                        font-size: 18px;
                    }
                }

                .texto {
                    opensans(16);
                    color: $preto;

                    +below($tablet) {
                        font-size: 14px;
                    }

                    +mobile() {
                        font-size: 12px;
                    }

                    p {
                        margin: 0 0 15px 0;
                        line-height: 1.7;

                        +mobile() {
                            margin: 0 0 10px 0;
                            line-height: 1.5;
                        }
                    }
                }
            }
        }
    }

    section.historico {
        width: 1400px;
        height: auto;
        background-color: $azulClaro;
        margin: 30px auto 50px auto;
        padding: 45px 0;

        +below($tablet) {
            width: 95%;
            padding: 40px 0;
        }

        +mobile() {
            margin: 20px auto 40px auto;
            padding: 30px 0;
        }

        .center {
            .titulo {
                montserrat(28, light);
                color: $azulLogo;
                margin: 0 0 45px 0;

                +below($tablet) {
                    font-size: 24px;
                    margin: 0 0 30px 0;
                }

                +mobile() {
                    font-size: 20px;
                    margin: 0 0 20px 0;
                }
            }

            .fundacao, .expansao, .consolidacao {
                position: relative;

                h6.fase {
                    width: 100%;
                    montserrat(16, extrabold);
                    color: $hover;
                    margin: 10px 0;
                    padding: 0 0 5px 0;
                    border-bottom: 1px dotted $bordaPontilhada;

                    +below($tablet) {
                        font-size: 14px;
                    }

                    +mobile() {
                        font-size: 12px;
                    }
                }

                .linha-historico {
                    border-left: 1px solid $hover;
                    position: absolute;
                    left: 456px;
                    top: 68px;
                    z-index: 1;

                    +below($tablet) {
                        left: 348px;
                        top: 55px;
                    }

                    +mobile() {
                        display: none;
                    }
                }

                .item-historico {
                    width: 940px;
                    height: auto;
                    margin: 0 auto 0 150px;
                    padding: 0 0 40px 0;
                    display: flex;
                    align-items: flex-start;
                    justify-content: flex-start;

                    +below($tablet) {
                        width: 80%;
                        margin: 0 auto 0 100px;
                        padding: 0 0 30px 0;
                    }

                    +mobile() {
                        width: 90%;
                        margin: 0 auto 0 30px;
                        flex-wrap: wrap;
                    }

                    .link-img-historico {
                        width: 200px;
                        height: auto;
                        margin: 0 30px 0 0;

                        +below($tablet) {
                            width: 150px;
                        }

                        +mobile() {
                            width: 100%;
                            max-height: 90px;
                            margin: 0;
                        }

                        .img-historico {
                            width: 200px;
                            height: auto;
                            object-fit: cover;

                            +below($tablet) {
                                width: 150px;
                            }

                            +mobile() {
                                max-height: 90px;
                            }
                        }
                    }

                    .ano {
                        width: 50px;
                        montserrat(20, extrabold);
                        color: $hover;
                        line-height: 1.5;
                        margin: 16px 0 0 0;

                        +below($tablet) {
                            width: 45px;
                            font-size: 18px;
                            margin: 10px 0 0 0;
                        }

                        +mobile() {
                            width: 15%;
                            font-size: 16px;
                            margin: 0;
                        }
                    }

                    .bolinha {
                        width: 22px;
                        height: 22px;
                        border: 2px solid $hover;
                        border-radius: 50%;
                        background-color: $azulClaro;
                        margin: 20px 25px 0 15px;
                        z-index: 2;

                        +below($tablet) {
                            width: 18px;
                            height: 18px;
                            margin: 15px 15px 0 15px;
                        }

                        +mobile() {
                            margin: 4px 2% 0 2%;
                        }
                    }

                    .frase {
                        max-width: 580px;
                        opensans(18);
                        color: $azulLogo;
                        line-height: 1.5;
                        margin: 18px 0 0 0;

                        +below($tablet) {
                            max-width: 55%;
                            font-size: 14px;
                            margin: 13px 0 0 0;
                        }

                        +mobile() {
                            max-width: 70%;
                            font-size: 12px;
                            margin: 4px 0 0 0;
                        }
                    }
                }
            }
        }
    }

    section.estrutura-destaques {
        width: 100%;
        height: auto;
        margin: 50px 0;

        +below($tablet) {
            margin: 30px 0;
        }

        article.destaque {
            width: 1400px;
            margin: 0 auto 20px auto;
            padding: 40px 0;
            background-color: $azulClaro;

            +below($tablet) {
                width: 95%;
                padding: 30px 0;
            }

            .center {
                height: auto;
                display: flex;
                align-items: flex-start;

                .imagens {
                    width: 500px;
                    height: auto;

                    +below($tablet) {
                        width: 40%;
                    }

                    +mobile() {
                        width: 45%;
                    }

                    .link-img-destaque-capa {
                        .img-destaque-capa {
                            width: 500px;
                            height: 335px;
                            object-fit: cover;
                            margin-bottom: 5px;

                            +below($tablet) {
                                width: 100%;
                                height: 250px;
                            }

                            +mobile() {
                                height: 100px;
                            }
                        }
                    }

                    .variacoes {
                        width: 100%;
                        display: flex;
                        align-items: flex-start;
                        justify-content: space-between;
                        flex-wrap: wrap;

                        .link-variacao {
                            width: 245px;
                            height: 165px;
                            margin-bottom: 10px;

                            +below($tablet) {
                                width: 49%;
                                height: 120px;
                                margin-bottom: 5px;
                            }

                            +mobile() {
                                width: 48%;
                                height: 50px;
                            }

                            .variacao {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }
                    }
                }

                .dados {
                    width: calc('100% - 500px');
                    height: auto;
                    padding: 40px;

                    +below($tablet) {
                        width: 60%;
                        padding: 30px;
                    }

                    +mobile() {
                        width: 55%;
                        padding: 10px;
                    }

                    .cx-titulo {
                        width: 750px;
                        height: auto;
                        background-color: $azulLogo;
                        padding: 40px 40px 30px 40px;
                        margin-left: -90px;
                        margin-bottom: 35px;

                        +below($tablet) {
                            width: calc('100% + 60px');
                            padding: 25px 30px 20px 30px;
                            margin-left: -60px;
                            margin-bottom: 30px;
                        }

                        +mobile() {
                            width: calc('100% + 25px');
                            margin-left: -25px;
                            padding: 10px;
                            margin-bottom: 20px;
                        }

                        .titulo {
                            montserrat(24, extrabold);
                            color: $branco;
                            text-transform: uppercase;
                            line-height: 1.4;
                            margin: 0;

                            +below($tablet) {
                                font-size: 18px;
                            }

                            +mobile() {
                                font-size: 11px;
                                font-weight: 600;
                            }
                        }
                    }

                    .texto {
                        width: 100%;
                        opensans(16);
                        color: $preto;

                        +below($tablet) {
                            font-size: 14px;
                        }

                        +mobile() {
                            font-size: 11px;
                        }

                        p {
                            margin: 0 0 15px 0;
                            line-height: 1.5;

                            +mobile() {
                                margin: 0 0 10px 0;
                                line-height: 1.3;
                            }

                            a {
                                color: $azulLogo;

                                &:hover {
                                    font-weight: 600;
                                }
                            }

                            img {
                                max-width: 100%;
                                height: auto;
                                object-fit: contain;
                            }
                        }

                        ul, ol {
                            list-style-position: inside;
                            padding-left: 0;
                            margin: 0 0 15px 0;

                            +mobile() {
                                margin: 0 0 10px 0;
                            }

                            li {
                                margin: 0;
                                line-height: 1.5;

                                +mobile() {
                                    line-height: 1.3;
                                }
                            }
                        }

                        figure.table {
                            margin: 0 0 15px 0;

                            +mobile() {
                                margin: 0 0 10px 0;
                                font-size: 9px;
                            }

                            table {
                                width: 100%;
                                border-collapse: collapse;

                                thead {
                                    background-color: $bordaPontilhada;
                                }

                                th, td {
                                    padding: 5px;
                                    text-align: left;

                                    +mobile() {
                                        padding: 2px;
                                    }
                                }
                            }

                            table, th, td {
                                border: 1px solid $preto;
                            }
                        }
                    }

                    iframe.video {
                        width: 100%;
                        height: 340px;
                        margin: 20px 0;
                        border: none;

                        +below($tablet) {
                            height: 250px;
                        }

                        +mobile() {
                            height: 90px;
                            margin: 10px 0;
                        }
                    }
                }
            }
        }
    }

    section.estrutura-imagens {
        height: auto;
        margin: 75px auto 50px auto;

        +below($tablet) {
            margin: 50px auto;
        }

        +mobile() {
            margin: 40px auto;
        }

        h2.titulo {
            width: 100%;
            montserrat(28, light);
            color: $azulLogo;
            text-align: center;
            margin: 0;

            +below($tablet) {
                font-size: 24px;
            }

            +mobile() {
                font-size: 20px;
            }
        }

        article.categorias {
            width: 90%;
            height: auto;
            margin: 25px auto 0 auto;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;

            +below($tablet) {
                margin-top: 20px;
            }

            .link-filtro-categoria {
                width: auto;
                height: 25px;
                padding: 0 20px;
                background-color: $azulRoyal;
                opensans(16, bold);
                color: $branco;
                border-radius: 20px;
                margin: 0 5px 5px 0;
                display: flex;
                align-items: center;
                transition: background 0.3s ease-in-out;

                +below($tablet) {
                    font-size: 13px;
                    font-weight: 600;
                    padding: 0 15px;
                }

                +mobile() {
                    height: 20px;
                    padding: 0 10px;
                    font-size: 10px;
                    font-weight: 500;
                }

                &:hover, &.active {
                    background-color: $hover;
                }
            }
        }

        article.imagens {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-wrap: wrap;
            margin-top: 50px;

            +below($tablet) {
                margin-top: 30px;
            }

            +mobile() {
                margin-top: 25px;
            }

            .link-imagem {
                width: 290px;
                height: 220px;
                margin: 0 10px 10px 0;

                +below($tablet) {
                    width: calc('(100% - 40px) / 4');
                    height: 180px;
                }

                +mobile() {
                    width: calc('(100% - 20px) / 2');
                    height: 120px;
                }

                .img-estrutura {
                    width: 290px;
                    height: 220px;
                    object-fit: cover;

                    +below($tablet) {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }
}