main.politica-de-privacidade {
    width: 100%;
    height: auto;
    padding: 20px 0 60px 0;

    section.conteudo {
        h1.titulo {
            width: 100%;
            montserrat(28, bold);
            color: $azulLogo;
            text-align: start;
            margin: 20px 0;

            +below($tablet) {
                font-size: 24px;
            }

            +mobile() {
                font-size: 20px;
                margin: 15px 0;
            }
        }

        .texto {
            width: 100%;
            margin: 0;
            opensans(14);
            color: $preto;

            +below($tablet) {
                font-size: 12px;
            }

            p {
                margin: 0 0 15px 0;
                line-height: 1.7;

                +mobile() {
                    margin: 0 0 10px 0;
                    line-height: 1.5;
                }

                a {
                    color: $azulLogo;

                    &:hover {
                        font-weight: 600;
                    }
                }

                img {
                    max-width: 100%;
                    height: auto;
                    object-fit: contain;
                }
            }

            ul, ol {
                list-style-position: inside;
                padding-left: 0;
                margin: 0 0 15px 0;

                +mobile() {
                    margin: 0 0 10px 0;
                }

                li {
                    margin: 0;
                    line-height: 1.7;

                    +mobile() {
                        line-height: 1.5;
                    }
                }
            }

            figure.table {
                margin: 0 0 15px 0;

                +mobile() {
                    margin: 0 0 10px 0;
                    font-size: 10px;
                }

                table {
                    width: 100%;
                    border-collapse: collapse;

                    thead {
                        background-color: $bordaPontilhada;
                    }

                    th, td {
                        padding: 5px;
                        text-align: left;

                        +mobile() {
                            padding: 2px;
                        }
                    }
                }

                table, th, td {
                    border: 1px solid $preto;
                }
            }
        }
    }
}