main.servicos {
    width: 100%;
    height: auto;
    padding: 20px 0;

    section.conteudo {
        height: auto;
        display: flex;
        align-items: flex-start;
        padding-bottom: 40px;

        +mobile() {
            flex-direction: column;
        }

        article.submenu {
            width: 37%;
            display: flex;
            align-items: flex-start;

            +below($tablet) {
                width: 35%;
            }

            +mobile() {
                width: 100%;
            }

            .img-servicos {
                width: 90px;
                height: 90px;
                object-fit: contain;

                +below($tablet) {
                    width: 75px;
                    height: 75px;
                }

                +mobile() {
                    width: 60px;
                    height: 60px;
                }
            }

            .itens {
                padding: 20px 30px;

                +below($tablet) {
                    padding: 15px 20px;
                }

                h1.titulo {
                    montserrat(36, bold);
                    color: $azulLogo;
                    margin: 0 0 20px 0;

                    +below($tablet) {
                        font-size: 28px;
                    }

                    +mobile() {
                        font-size: 24px;
                        margin-bottom: 15px;
                    }
                }

                .link-submenu {
                    display: block;
                    signika(16);
                    color: $azulLogo;
                    text-transform: lowercase;
                    margin: 0 0 12px 0;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    transition: color 0.3s ease-in-out;

                    +below($tablet) {
                        font-size: 14px;
                        margin: 0 0 10px 0;
                    }

                    +mobile() {
                        font-size: 13px;
                        margin: 0 0 8px 0;
                    }

                    span {
                        signika(10);
                        color: $azulLogo;
                        margin: 0 5px;
                        transition: color 0.3s ease-in-out;
                    }

                    .img-setinha {
                        display: none;
                        width: 10px;
                        height: auto;
                        object-fit: contain;
                        margin-left: 10px;
                        transition: display 0.3s ease-in-out;

                        +below($tablet) {
                            width: 9px;
                        }

                        +mobile() {
                            width: 8px;
                        }
                    }

                    &.hover, &.active {
                        color: $hover;

                        span {
                            color: $hover;
                        }

                        .img-setinha {
                            display: inline-block;
                        }
                    }
                }
            }
        }

        article.textos {
            width: 63%;
            padding-top: 45px;

            +below($tablet) {
                width: 65%;
                padding-top: 20px;
            }

            +mobile() {
                width: 100%;
            }

            h2.titulo {
                montserrat(54, light);
                color: $azulLogo;
                margin: 0 0 20px 0;

                +below($tablet) {
                    font-size: 40px;
                }

                +mobile() {
                    font-size: 28px;
                    margin: 0 0 15px 0;
                }
            }

            .texto {
                opensans(16);
                color: $preto;
                padding-left: 5px;

                +below($tablet) {
                    font-size: 14px;
                }

                +mobile() {
                    font-size: 12px;
                    padding-left: 0;
                }

                p {
                    margin: 0 0 15px 0;
                    line-height: 1.7;

                    +mobile() {
                        margin: 0 0 10px 0;
                        line-height: 1.5;
                    }

                    a {
                        color: $azulLogo;

                        &:hover {
                            font-weight: 600;
                        }
                    }
                }

                ul {
                    list-style-position: inside;
                    padding-left: 0;
                    margin: 0 0 15px 0;

                    +mobile() {
                        margin: 0 0 10px 0;
                    }

                    li {
                        margin: 0;
                        line-height: 1.7;

                        +mobile() {
                            line-height: 1.5;
                        }
                    }
                }
            }
        }
    }

    section.destaques {
        height: auto;
        margin-bottom: 40px;

        +below($tablet) {
            margin-top: 30px;
        }

        +mobile() {
            margin-top: 0;
        }

        article.destaque {
            width: 390px;
            height: auto;
            padding: 10px;
            margin: 0 15px 20px 0;
            background-color: $azulClaro;

            +below($tablet) {
                width: auto;
                min-width: 250px;
                max-width: 315px;
            }

            +mobile() {
                min-width: unset;
                max-width: unset;
                margin: 0 0 15px 0;
            }

            .link-img-destaque {
                width: 100%;

                .img-destaque {
                    width: 370px;
                    height: 210px;
                    object-fit: cover;

                    +below($tablet) {
                        width: 100%;
                        height: 150px;
                    }
                }
            }

            .cx-titulo {
                width: 100%;
                height: auto;
                background-color: $azulLogo;
                padding: 10px;
                margin-top: -5px;

                .titulo {
                    montserrat(18, extrabold);
                    color: $branco;
                    text-transform: uppercase;
                    line-height: 1.4;
                    margin: 0;

                    +below($tablet) {
                        font-size: 14px;
                    }

                    +mobile() {
                        font-size: 12px;
                        font-weight: 600;
                    }
                }
            }

            .texto {
                opensans(16);
                color: $preto;
                padding: 10px;

                +below($tablet) {
                    font-size: 12px;
                }

                +mobile() {
                    font-size: 11px;
                }

                p {
                    margin: 0 0 15px 0;
                    line-height: 1.5;

                    +mobile() {
                        margin: 0 0 10px 0;
                    }

                    a {
                        color: $azulLogo;

                        &:hover {
                            font-weight: 600;
                        }
                    }
                }

                ul {
                    list-style-position: inside;
                    padding-left: 0;
                    margin: 0 0 15px 0;

                    +mobile() {
                        margin: 0 0 10px 0;
                    }

                    li {
                        margin: 0;
                        line-height: 1.5;
                    }
                }
            }
        }
    }

    section.localizacao {
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        padding: 10px 0 70px 0;

        +below($tablet) {
            padding: 0 0 50px 0;
        }

        .titulo-localizacao {
            width: 100%;
            montserrat(28, light);
            color: $azulLogo;
            text-transform: uppercase;
            text-align: center;
            margin: 0 0 20px 0;

            +below($tablet) {
                font-size: 24px;
            }

            +mobile() {
                font-size: 18px;
            }
        }

        article.informacoes {
            width: 360px;
            height: auto;
            margin-right: 60px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;

            +below($tablet) {
                width: 30%;
                margin-right: 40px;
            }

            +mobile() {
                width: 100%;
                margin-right: 0;
                align-items: center;
            }

            .telefone {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                margin-bottom: 10px;

                +below($tablet) {
                    margin-bottom: 5px;
                }

                .img-telefone {
                    width: 22px;
                    height: auto;
                    object-fit: contain;
                    margin-right: 5px;

                    +below($tablet) {
                        width: 20px;
                    }
                }

                .titulo {
                    signika(12);
                    color: $azulLogo;
                    margin: 3px 0 0 0;

                    +below($tablet) {
                        font-size: 10px;
                        margin: 0;
                    }
                }
            }

            .link-telefone {
                display: block;
                opensans(18, bold);
                color: $azulLogo;
                margin: 0;
                transition: all 0.3s ease-in-out;

                +below($tablet) {
                    font-size: 16px;
                }

                &:hover {
                    color: $hover;
                }
            }

            .linha-localizacao {
                width: 100%;
                margin: 20px 0 15px 0;
                border: none;
                border-bottom: 1px solid $azulAgua;

                +below($tablet) {
                    margin: 15px 0 10px 0;
                }
            }

            .endereco {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                margin-bottom: 10px;

                +below($tablet) {
                    margin-bottom: 5px;
                }

                .img-endereco {
                    width: 22px;
                    height: auto;
                    object-fit: contain;
                    margin-right: 5px;

                    +below($tablet) {
                        width: 20px;
                    }
                }

                .titulo {
                    signika(12);
                    color: $azulLogo;
                    margin: 3px 0 0 0;

                    +below($tablet) {
                        font-size: 10px;
                        margin: 0;
                    }
                }
            }

            .local {
                opensans(16);
                color: $azulLogo;
                margin: 0;

                +below($tablet) {
                    font-size: 14px;
                }

                +mobile() {
                    font-size: 12px;
                    text-align: center;
                }
            }

            .atendimento {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                margin-bottom: 10px;

                +below($tablet) {
                    margin-bottom: 5px;
                }

                .img-horario {
                    width: 18px;
                    height: auto;
                    object-fit: contain;
                    margin-right: 5px;

                    +below($tablet) {
                        width: 16px;
                    }
                }

                .titulo {
                    signika(12);
                    color: $azulLogo;
                    margin: 3px 0 0 0;

                    +below($tablet) {
                        font-size: 10px;
                        margin: 0;
                    }
                }
            }

            .horario {
                opensans(16);
                color: $azulLogo;
                margin: 0;

                +below($tablet) {
                    font-size: 14px;
                }

                +mobile() {
                    font-size: 12px;
                    text-align: center;
                }
            }
        }

        article.mapa {
            width: 580px;
            height: 350px;

            +below($tablet) {
                width: 50%;
                height: 280px;
            }

            +mobile() {
                margin-top: 20px;
                width: 100%;
                height: 250px;
            }

            iframe {
                width: 100%;
                height: 100%;
            }
        }
    }
}